*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    /* align-items: center; */
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
    margin-top: 30px;
}

nav ul{
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 25px;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

.container{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    margin-left: 150px;
    padding-top: 250px;
    /* margin-top: 300px; */
    /* justify-content: space-around; */
}

.col-2{
    flex-basis: 50%;
    /* min-width: 300px; */
}

.col-2 p{
   font-size: 20px;
   line-height: 24px; 
   margin-top: 15px;
}

.col-2 img{
    max-width: 100%;
    margin-top: -190px;
    margin-left: 40px;
    height: 700px;
    /* padding: 50px 0; */
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 22px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.header{
    background: radial-gradient(#fff, #ffd6d6);
}

#jaz{
    margin-top: 20px;
}

.btn:hover{
    background: #563434;
}

.categories{
    margin: -150px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
    /* margin-left: 200px; */
    justify-content: space-between;
    padding: 20px;
}

.small-container h2{
    margin-top: 150px;
    margin-bottom: -180px;
    text-align: center;
    line-height: 60px;
    color: #555;
}

.small-container h2::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    /* bottom: 50%; */
    transform: translateX(-188%);
    margin-top: 55px;
}

.col-4{
    flex-basis: 25%;
    padding: 16px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
    margin-left: -68px;
}

h4{
    color: #555;
    font-weight: bold;
}

.col-4 p{
    font-size: 16px;
}

.rating .fa{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}

.col-4{
    margin-bottom: -70px;
}

.title{
    margin-top: -500px;
}

.fck{
    margin-top: 10000px;
}

.row-2{
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    margin-left: 150px;
    padding-top: 250px;
    /* margin-top: 300px; */
    /* justify-content: space-around; */
    margin-top: -130px;
}

.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 130px;
    padding: 30px 0;
}

.offer-img{
    margin-left: -100px;
    padding: 50px;
}

small{
    color: #555;
    line-height: 20px;
    font-size: 14px;
}

.col-2 h1{
    margin-top: 40px;
    margin-bottom: 20px;
}

.testimonial{
    padding-top: 100px;
}

.testimonial .col-3{
    text-align: center;
    margin: -200px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 p{
    padding: 70px;
    padding-top: 40px;
    color: #777;
}

.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 18px;
    margin-bottom: 20px;
}

#meet{
    color: #ff523b;
    margin-top: 50px;
    font-size: 40px;
}

.testimonial .col-3 img{
    width: 120px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover{
    transform: translateY(-10px);
}

.flex-container{
    display: flex;
}

.flex-container > div{
    background-color: white;
    margin-left: 130px;
    margin-top: 250px;
    padding: 35px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border: 0px solid white;
    width: 300px;
    height: 360px;
    font-size: 22px;
    display: inline-block;
    transition: transform 0.5s;
}

#one{
    font-size: larger;
    font-weight: bold;
}

#three{
    font-size: larger;
    font-weight: bold;
}

#five{
    font-size: larger;
    font-weight: bold;
}

#seven{
    font-size: larger;
    font-weight: bold;
}

#one:hover{
    color: #ff523b;
}

#three:hover{
    color: #ff523b;
}

#five:hover{
    color: #ff523b;
}

#seven:hover{
    color: #ff523b;
}

#two{
    font-size: 18px;
}

#four{
    font-size: 18px;
}

#six{
    font-size: 18px;
}

#eight{
    font-size: 18px;
}

.flex-container > div:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

/* .footer{
    background: #eec181;
    height: 800px;
    color: black;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #000;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1 img{
    width: 180px;
    margin-top: -180px;
    padding-top: 0px;
    margin-left: -140px;
}

.footer-col-1, .footer-col-2{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;

}

.jas ul li{
    list-style: none;
    color: #000;
}

.jas a{
    color: #000;
} */

.row-3{
    justify-content: space-between;
    margin-top: -100px;
    margin-left: -1350px;
    margin-bottom: -200px;
}

.row-3 select{
    margin-top: 150px;
    /* margin-bottom: 1800px; */
    width: 130px;
    height: 50px;
    display: inline-block;
    margin-left: 2950px;
    border: 1px solid #ff523b;
}

.row-3 select:focus{
    outline: none;
}

.row-4{
    margin-top: -130px;
    display: flex;
        /* align-items: center; */
    flex-wrap: wrap;
    margin-left: 150px;
    padding-top: 250px;
        /* margin-top: 300px; */
        /* justify-content: space-around; */
}

.page-btn{
    margin-left: 130px;
}

.page-btn span{
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ff523b;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}

.col-12 img{
    margin-left: 250px;
    margin-top: 80px;
}

.col-12 p{
    margin-left: 890px;
    margin-top: -520px;
    margin-bottom: 500px;
}

.col-12 h1{
    margin-left: 890px;
    margin-top: -490px;
    margin-bottom: 490px;
}

.col-12 h4{
    margin-left: 890px;
    margin-top: -480px;
    /* margin-bottom: 480px; */
}

#bish{
    margin-left: 890px;
    margin-top: 10px;
    /* margin-bottom: 450px; */
    width: 105px;
    height: 30px;
}

 .col-12 .btn{
    margin-left: 890px;
    /* margin-bottom: 360px; */
}

.col-12 input{
    margin-left: 890px;
    margin-top: 10px;
}

.col-12 h3{
    margin-left: 890px;
    margin-top: 100px;
}

#sim{
    margin-left: 890px;
    margin-top: 10px;
    margin-bottom: 100px;
}

.small-img-row{
    /* display: flex; */
    display: inline-flex;
    justify-content: space-between;
    margin-left: 235px;
    margin-top: -30px;
}

.small-img-col{
    margin-left: 20px;
}

/* cart items */

.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;

}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 8px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

tr #jaggi{
    padding-left: 150px;
}

td{
    padding: 20px 15px;
}

td input{
    width: 40px;
    height: 35px;
    padding: 5px;
}

td a{
    color: #ff523b;
    font-size: 14px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
    margin-right: 250px;
}

.total-price table{
    width: 100%;
    border-top: 3px solid #ff523b;
    max-width: 350px;
}

.col-15 img{
    margin-left: 60px;
}

.account-page{
    padding: 20px 0;
    background: radial-gradient(#fff, #ffd6d6);
    height: 900px;
}

.form-container{
    background: #fff;
    width: 400px;
    height: 500px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin-top: -570px;
    margin-left: 1120px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    margin-bottom: 80px;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
    /* margin-left: 10px; */
}

.form-btn{
    display: inline-block;
}

.form-container form{
    max-width: 400px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus{
    outline: none;
}

#loginform{
    left: -400px;
}

#regform{
    left: 0;
}

#indicator{
    width: 50%;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

/* .jag{
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    color: crimson;
    text-decoration: 3px underline black;
}

.jag h1{
    margin-top: -30px;
}

.jag a{
    text-decoration: none;
    color: black;
    margin-left: -1720px;
} */

.doncar{
    background: radial-gradient(#fff, #ffd6d6);
    height: 1200px;
}

.mann{
    margin-top: 60px;
    /* margin-left: 60px; */
    display: inline-block;
}

#jag{
    float: left;
    margin-left: 77px;
    width: 320px;
    height: 450px;
    margin-bottom: 25px;
}

#par{
    float: right;
    margin-right: -555px;
    width: 350px;
}

#mann{
    margin-top: -3px;
    margin-left: 305px;
    padding-right: 70px;
    width: 425px;
    height: 449px;
}

.par ul{
    display: inline-block;
    list-style: none;
    line-height: 33px;
    font-size: 25px;
    margin-top: -10px;
}

.bha{
    margin-left: 100px;
}

.sukh{
    margin-left: 392px;
}

.amn{
    margin-left: 330px;
    margin-top: 0px;
    /* font-size: 20px; */
}

#tam{
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 22px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

#tam:hover{
    background: #dbaeae;
}